* {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee2dc;
    color: #123c69;
}

.navbar,
.nav-link,
.navbar-light {
    background-color: #edc7b7;
    color: #ac3b61 !important;
    font-size: 1.2em;
}

.dropdown-menu,
.dropdown-menu a {
    background-color: #eee2dc;
    text-decoration: underline;
    color: #123c69;
}

a {
    font-size: 1.2rem;
    color: #123c69;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ac3b61;
}

.row {
    --bs-gutter-x: 0;
}

.text-content {
    padding: 3rem 10rem;
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.img-container {
    margin: 1em 0;
    border: 10px solid #edc7b7;
    border-radius: 15px;
}

#accordion-corgi {
    width: 100%;
}

#carouselExampleIndicators {
    margin: 0 auto;
    text-align: center;
    max-width: 60%;
}

.carousel-indicators {
    margin-bottom: 2rem;
}

.accordion {
    margin: 1em 0;
}

.accordion-button {
    background-color: #edc7b7;
    font-size: 0.8em;
}

.accordion-item {
    background-color: #eee2dc;
}

.accordion-button:not(.collapsed) {
    background-color: #edc7b7;
}

.footer {
    padding: 20px;
    background-color: #edc7b7;
    text-align: center;
}

.front-page-container,
.second-page-container,
.third-page-container {
    padding-bottom: 100px;
    padding-top: 30px;
}

.collapse>.btn {
    margin-right: 20px;
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.275), 0 5px 7px rgba(0, 0, 0, 0.348);
}

.collapse>.btn:hover,
.collapse>.btn:active {
    border: 2px solid #ac3b61;
    transition: all 0.2s;
}

p>a {
    color: #ac3b61;
}

@media screen and (max-width: 768px) {
    #carouselExampleIndicators {
        max-width: 100%;
    }
    .dropdown-menu,
    .dropdown-menu a {
        background-color: #edc7b7;
        text-align: center;
        border: none;
    }
    .text-content {
        padding: 2rem 1rem;
    }
}