$blue-font: #123c69;
$red-font: #ac3b61;
$box-bg: #edc7b7;
$body-bg: #eee2dc;
* {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-bg;
    color: $blue-font;
}

.header {
    background-color: $box-bg;
}

.navbar,
.nav-link,
.navbar-light {
    color: $red-font !important;
    font-size: 1.5rem;
}

.dropdown-menu {
    background-color: $body-bg;
}

.dropdown-menu a {
    text-decoration: underline;
}

.dropdown-item {
    color: $red-font;
}

a {
    font-size: 1.2rem;
    color: $red-font;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: $red-font;
}

.row {
    --bs-gutter-x: 0;
}

.text-content {
    padding: 3rem 10rem;
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.img-container {
    margin: 1em 0;
    border: 10px solid $box-bg;
    border-radius: 15px;
    overflow: hidden;
}

.accordion-img {
    width: 50%;
    margin: 0 auto;
}

#accordion-corgi {
    width: 100%;
}

#carouselExampleIndicators {
    margin: 0 auto;
    text-align: center;
    max-width: 60%;
}

.carousel-indicators {
    margin-bottom: 2rem;
}

.accordion {
    margin: 1em 0;
}

.accordion-button {
    background-color: $box-bg;
    font-size: 0.8em;
}

.accordion-item {
    background-color: $body-bg;
}

.accordion-button:not(.collapsed) {
    background-color: $box-bg;
    color: $red-font;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.footer {
    padding: 20px;
    padding-bottom: 50px;
    background-color: $box-bg;
    text-align: center;
}

.clicker-img {
    width: 45%;
    margin: 0 auto;
    border-radius: 40%;
}

#clicker-button {
    padding: 0;
    border: none;
}

#clicker-corgi {
    width: 100%;
    transition: all 0.3s;
}

#clicker-corgi:active {
    transform: scale(1.1);
}

#counter {
    font-size: 1.7rem;
}

.red-counter {
    color: $red-font;
}

.front-page-container,
.second-page-container,
.third-page-container {
    padding-bottom: 100px;
    padding-top: 30px;
}

.second-page-container,
.third-page-container {
    text-align: center;
}

.collapse>.btn {
    margin-right: 20px;
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.275), 0 5px 7px rgba(0, 0, 0, 0.348);
}

.collapse>.btn:hover,
.collapse>.btn:active {
    border: 2px solid $red-font;
    transition: all 0.2s;
}

.dark-box {
    transition: all 0.5s;
    background-color: #3aafa9 !important;
}

.dark-border {
    transition: all 0.5s;
    border: #3aafa9 10px solid !important;
}

.dark-body {
    transition: all 0.5s;
    background-color: #def2f1 !important;
}

.dark-accordion-body {
    background-color: #def2f1 !important;
    transition: all 0.5s;
}

.dark-font {
    color: #17252a;
    a {
        color: #17252a !important;
    }
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    #carouselExampleIndicators {
        max-width: 100%;
    }
    .dropdown-menu,
    .dropdown-menu a {
        text-align: center;
        border: none;
    }
    .text-content {
        padding: 2rem 1rem;
    }
    .accordion-img {
        width: 100%;
    }
    .clicker-img {
        width: 90%;
    }
}